import React, { useState} from 'react';

//Componente: bloco isolado html, css e js nao qual nao interfere no restante da app
//Estado informações mantidas pelo componente(lembrar imutabilidade)
//Propiedade: informação que um componente pai passa para um componente filho

import Header from './Header';

function App() {

  const [counter, setCounter] = useState(0);

  function incrementCounter(){
    setCounter(counter + 1);
  }

  return (
    <>
    <h1>Contador: { counter} </h1>
    <button onClick={incrementCounter}>Incrementar</button>
    </>
  );
}

export default App;
